@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.headline {
  position: relative;
  display: inline-flex;
  padding: 0 0 31px;
  @include ff-bold;
  font-size: 36px;
  line-height: 1.194;
  color: #2B2E34;
  text-transform: uppercase;

  &.align-center {
    hr {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.is-fz-sm {
    font-size: 33px;
    line-height: 1.212;
  }

  hr {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 13px;
    border: none;

    @include xs {
      width: 150px !important;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
