@use 'sass:math';

// width
@mixin r($width) {
  @media only screen and (max-width: $width+ 'px') {
    @content;
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width+ 'px') {
    @content;
  }
}

@mixin lg {
  @include r($lg) {
    @content;
  }
}

@mixin xl {
  @include r($xl) {
    @content;
  }
}

@mixin md {
  @include r($md) {
    @content;
  }
}

@mixin sm {
  @include r($sm) {
    @content;
  }
}

@mixin xs {
  @include r($xs) {
    @content;
  }
}

@mixin xlUp {
  @include rmin($xl + 1) {
    @content;
  }
}

@mixin lgUp {
  @include rmin($lg + 1) {
    @content;
  }
}

@mixin mdUp {
  @include rmin($md + 1) {
    @content;
  }
}

@mixin smUp {
  @include rmin($sm + 1) {
    @content;
  }
}

@mixin xsUp {
  @include rmin($xs + 1) {
    @content;
  }
}

@mixin line-height($heightValue: 20) {
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.0625 * $heightValue);
}

@mixin rhythm($sizeValue: 12, $heightValue: 20) {
  font-size: $sizeValue + px;
  @include line-height($heightValue);
}

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

@mixin line-clamp($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ff-default {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin ff-medium {
  font-family: 'Moderat Medium', Helvetica, Arial, sans-serif;
}

@mixin ff-bold {
  font-family: 'Moderat Bold', Helvetica, Arial, sans-serif;
}


@mixin descending-z-index($count: 30) {
  $target: 0;
  $index: $count;
  @while $index > 0 {
    &:nth-child(#{$target}) {
      z-index: #{$index};
    }
    $target: $target + 1;
    $index: $index - 1;
  }
}

@function vw($px-vw, $base-vw: 1440px) {
  @return math.div(($px-vw * 100vw), $base-vw);
}

@mixin glass-hover-animation($color1: #fff, $color2: $primary) {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-125%) skew(45deg);
    width: 60%;
    height: 100%;
    background: linear-gradient(180deg, $color1 0%, $color2 100%);
    opacity: 0.45;
    transition: all 0.45s ease-out;
  }

  &:hover {
    &:before {
      transform: translate(200%) skew(45deg);
    }
  }
}
