@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.process-item {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  padding: 12px 35px 12px 20px;
  background-color: #ffffff;

  @include xs {
    padding: 11px 6px 11px 16px;
  }

  &:not(:last-child) {
    margin-bottom: 76px;

    @include xs {
      margin-bottom: 26px;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    margin-right: 29px;
    @include ff-medium;
    font-size: 20px;
    line-height: 1;
    color: $text;
    background-color: $services;

    @include xs {
      width: 25px;
      height: 25px;
      margin-right: 12px;
      font-size: 16px;
    }
  }

  &__title {
    margin-right: 20px;
    @include ff-medium;
    font-size: 20px;
    line-height: 1;
    color: $text;

    @include xs {
      margin-right: 0;
      font-size: 13px;
    }
  }

  &__text {
    width: percentage(612 / 880);
    margin-left: auto;
    font-size: 21px;
    line-height: 1.2;
    color: $text;
    @include xs {
      width: percentage(195 / 320);
      font-size: 13px;
    }
  }
}
