@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.process {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__left {
    margin-right: 86px;
  }

  &__title {
    margin-bottom: 22px;
  }

  &__subtitle {
    display: flex;
    align-items: baseline;

    & > * {
      flex-shrink: 0;
    }
  }

  &__subtitle-text {
    position: relative;
    top: -2px;
    margin-left: 6px;
    font-size: 30px;
    line-height: 1;
    color: $text;
  }

  &__content {
    position: relative;
    flex-grow: 1;
    margin-top: 33px;
    margin-left: auto;

    &:before {
      content: '';
      position: absolute;
      left: 34px;
      top: 0;
      width: 3px;
      height: 100%;
      background-color: #D9D9D9;
    }
  }
}
