@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.investors {
  @include sm {
    padding: 0 20px;
  }

  &__title {
    margin-bottom: 59px;
    text-align: center;

    @include xs {
      margin-bottom: 21px;
    }
  }

  &__subtitle {
    margin-bottom: 81px;
    @include ff-bold;
    font-size: 32px;
    line-height: 1.188;
    text-align: center;
    color: $text;

    @include sm {
      font-size: 26px;
    }

    @include xs {
      margin-bottom: 24px;
      font-size: 16px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -30px auto;

    @include xs {
      margin: -10px -20px;
    }
  }

  &__item {
    margin: 30px 48px;

    @include xs {
      width: calc(50% - 100px);
      margin: 10px 20px;
    }

    &.is-desktop {
      @include sm {
        display: none;
      }
    }
  }
}
