@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.investors {
  &__title {
    margin-bottom: 59px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 81px;
    @include ff-bold;
    font-size: 32px;
    line-height: 1.188;
    text-align: center;
    color: $text;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -30px auto;
  }

  &__item {
    margin: 30px 48px;
  }
}
