@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.about-page-mobile {
  height: calc(var(--vh) - 120px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  transition: opacity 1s ease 0.5s;
  overflow: scroll;
  position: relative;

  &__group {
    height: calc(var(--vh) - 140px);
    position: relative;
  }

  &__bg {
    position: absolute;
    height: 74%;;
    width: 88vw;
    margin-top: 15%;
    margin-bottom: 15%;
    z-index: -1;

    &--rotate {
      transform: rotate(180deg);
    }
  }



  &__content {
    &--section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &__heading {
    margin: auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #272823;
    text-transform: uppercase;
    margin-bottom: 30px;
  }


  &__vision {
    &--our {
      position: absolute;
      @include ff-medium;
      top: 10%;
      display: block;
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
      color: #2b2e34;
      text-transform: uppercase;
    }

    &--vision {
      position: absolute;
      bottom: 15%;
      right: 10px;
      display: block;
      @include ff-medium;
      font-size: 36px;
      line-height: 43px;
      color: #2b2e34;
      text-transform: uppercase;
    }

    span {
      display: block;
      @include ff-medium;
      font-size: 36px;
      line-height: 43px;
      color: #2b2e34;
      text-transform: uppercase;
    }
  }

  &__partners-images {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
  }
  &__partners-images-div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #272823;
      @include ff-medium;
      display: flex;
      align-items: center;
    }

    &__social {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    &__subtitle {
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #272823;
      margin-bottom: 10px;
    }

    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }

    &__block {
      margin-bottom: 35px;
    }

  }
}

.swiper {
  width: 100%;
  height: 100%  !important;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-backface-hidden .swiper-slide{
  height: calc(var(--vh) - 40px) !important;
}