@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.clients {
  &__title {
    margin-bottom: 36px;
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: -35px -42px;

    @include sm {
      align-items: flex-start;
    }

    @include xs {
      margin: -35px -22px;
    }
  }

  &__item {
    margin: 35px 42px;
    width: calc(100% / 3 - 42px);
    max-width: 340px;

    @include xs {
      width: calc(50% - 44px);
      margin: 35px 22px;
    }
  }

  &__item-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: center;
    @include xs {
      height: auto;
      padding-bottom: 23px;
      margin-bottom: 21px;
    }

    img {
      @include sm {
        max-height: 45px;
      }
      @include xs {
        max-height: 34px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 110px;
      height: 5px;
      background-color: $clients;

      @include xs {
        width: 66px;
        height: 3px;
      }
    }
  }

  &__item-text {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: $text;

    @include sm {
      font-size: 16px;
    }

    @include xs {
      font-size: 13px;
    }
  }
}
