@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  min-height: 448px;
  background-color: #ffffff;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 25px 0;
  }

  &__image {
    width: 126px;
    height: 126px;
    padding: 6px;
    margin-bottom: 27px;
    border: 3px solid $primary;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name,
  &__position {
    font-size: 22px;
    line-height: 1.182;
    text-align: center;
    text-transform: capitalize;
    color: $text;
  }

  &__name {
    @include ff-bold;
  }

  &__position {
    margin-bottom: 31px;
  }

  &__text {
    margin-bottom: 23px;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: $text;
  }

  &__linked {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    height: 54px;
    @include ff-medium;
    font-size: 16px;
    line-height: 1;
    color: $text;
    text-align: center;
    text-decoration: none;
    background-color: $primary;

    @include glass-hover-animation;

    span {
      margin-left: 4px;
      transition: all .25s ease;
      transform-origin: center;
    }

    &:hover {
      span {
        transform: translateX(4px) translateY(-4px);
      }
    }
  }
}
