body {
  font-family: 'Moderat Regular', Helvetica, Arial, sans-serif;
  overscroll-behavior-y: none;
  background-color: #f6f5f5;

  &.is-disabled {
    pointer-events: none;
  }
  .container-new {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
}
