img {
  max-width: 100%;
  display: block;
}

.main {
  padding-bottom: 65px;

  @include sm {
    padding-bottom: 40px;
  }
}

.container {
  max-width: 1552px;
  margin: 0 auto;
  padding: 0 20px;
}

.mobile-container{
  display: none;
  padding-bottom: 65px;
  @media screen and (max-width: '768px') {
    display: block
  }

}
.desktop-container{
  display: none;
  padding-bottom: 65px;
  @media screen and (min-width: '769px') {
    display: block
  }
}
.sections-wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.section-title {
  position: absolute;
  margin-bottom: 150px;
  // top: -7%;
  // left: 0;
  // width: 100%;
  // height: var(--vh);
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  // padding-left: $nav_link_width + $gap_padding;
  // padding-right: $nav_link_width * 2 + $gap_padding;

  // @include xl {
  //   justify-content: flex-start;
  //   padding-top: 40vh;
  //   width: 77vw;
  //   left: 0;
  //   right: 0;
  //   margin: 0 auto;
  // }

  // @include sm {
  //   justify-content: flex-start;
  //   padding-top: 30vh;
  //   padding-left: 0;
  //   padding-right: 0;
  // }

  // @include xs {
  //   padding-top: 21vh;
  // }

  &__inner {
    // position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    // margin-top: -120px;

    @include xl {
      margin-top: 0px;
    }
  }
}

.section-heading {
  //position: absolute;
  margin: auto;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 72px;
  text-align: center;
  color: #272823;
  text-transform: uppercase;

  opacity: 0;
  transform: translateY(50px);

  @include xl {
    font-size: 100vw * 44 / 1680;
    line-height: 1.4;
  }

  @include md {
    font-size: 100vw * 40 / 1680;
  }

  @include sm {
    font-size: 1.7rem;
    max-width: none;
  }

  @include xs {
    font-size: 1.7rem;
  }
}

.ticker-items{
  display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
