@font-face {
  font-family: 'Moderat Regular';
  font-weight: 400;
  src: url('../../fonts/moderat-regular.eot');
  src: url('../../fonts/moderat-regular.ttf') format('truetype'),
    url('../../fonts/moderat-regular.woff') format('woff'),
    url('../../fonts/moderat-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Moderat Medium';
  font-weight: 500;
  src: url('../../fonts/moderat-medium.eot');
  src: url('../../fonts/moderat-medium.ttf') format('truetype'),
    url('../../fonts/moderat-medium.woff') format('woff'),
    url('../../fonts/moderat-medium.woff2') format('woff2');
}


@font-face {
  font-family: 'Moderat Bold';
  font-weight: 700;
  src: url('../../fonts/moderat-bold.eot');
  src: url('../../fonts/moderat-bold.ttf') format('truetype'),
    url('../../fonts/moderat-bold.woff') format('woff'),
    url('../../fonts/moderat-bold.woff2') format('woff2');
}
