@font-face {
  font-family: "Moderat Regular";
  font-weight: 400;
  src: url("../../fonts/moderat-regular.eot");
  src: url("../../fonts/moderat-regular.ttf") format("truetype"), url("../../fonts/moderat-regular.woff") format("woff"),
  url("../../fonts/moderat-regular.woff2") format("woff2");
}
