@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.about-page {
  height: 100%;
  opacity: 0;
  padding-left: $nav_link_width + $gap_padding;
  padding-right: $nav_link_width * 2 + $gap_padding;
  transition: opacity 1s ease 0.5s;
  overflow: hidden;

  &.is-loaded {
    opacity: 1;
  }

  &__inner {
    position: relative;
    height: 100%;
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__back {
    position: absolute;
    left: 0;
    top: 24px;
    z-index: 99;
  }

  &__next {
    position: absolute;
    left: 5vw;
    bottom: 40px;
    cursor: pointer;
    transform: translateY(100px);
    opacity: 0;
    z-index: 10;

    animation: bounce 3s ease infinite;
  }

  &__vision {
    span {
      display: block;
      position: absolute;
      @include ff-medium;
      font-size: 60px;
      line-height: 72px;
      color: #2B2E34;
      text-transform: uppercase;

      @include xl {
        font-size: 50px;
        line-height: 1.4;
      }
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 70vw;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #272823;
    text-transform: uppercase;

    @include xl {
      font-size: 50px;
      line-height: 1.4;
    }

    div {
      opacity: 0;
      transform: translateY(100px);
    }
  }

  &__team-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(200px);

    span {
      display: block;
      position: absolute;
      @include ff-medium;
      font-size: 60px;
      line-height: 72px;
      color: #2B2E34;
      text-transform: uppercase;

      @include xl {
        font-size: 50px;
        line-height: 1.4;
      }
    }
  }

  &__team {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5vh;
    pointer-events: none;

    @include xl {

      margin-top: 100px;
    }
  }


  &__partners-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    span {
      display: block;
      position: absolute;
      @include ff-medium;
      font-size: 60px;
      line-height: 72px;
      color: #2B2E34;
      text-transform: uppercase;

      @include xl {
        font-size: 50px;
        line-height: 1.4;
      }

      &:first-child {
        left: 10%;
        top: 10%;
        transform: translate(-50%, -50%);
      }

      &:last-child {
        top: 95%;
        left: auto;
        right: 5%;
        transform: translate(0, -50%);
      }
    }
  }


  &__partners {
    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
    height: 100%;
    margin: auto;
  }

  &__partners-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;


    img {
      display: block;
      margin: 30px;
    }
  }
}


.team-section {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: auto;

  @include xl {
    display: block;
    margin-bottom: 200px;
    height: auto;
  }

  &__col {
    width: calc(100 / 1920 * 528%);
    margin: auto 40px;

    @include xl {
      width: 100%;
      max-width: 70vw;
    }
  }

  &__block {
    & + & {
      margin-top: 56px;
    }
  }

  &__title {
    @include ff-medium;
    font-size: 40px;
    line-height: 48px;
    color: #272823;
    opacity: 0;
  }

  &__subtitle {
    margin-bottom: 26px;
    font-size: 40px;
    line-height: 48px;
    color: #272823;
    opacity: 0;
  }

  &__description {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 24px;
    color: #272823;
    opacity: 0;
  }

  &__social {
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #272822;
    text-decoration: none;
    opacity: 0;
    transition: all .2s ease;

    &:hover {
      color: $primary;

      span {
        transform: translate(5px, -5px);
      }
    }

    span {
      display: inline-block;
      transition: transform .2s ease;
    }
  }
}


@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-40%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-14%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0);
  }
}
