@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.clients-page {
  height: calc(var(--vh) - 65px);
  opacity: 0;
  padding-left: $nav_link_width * 3;
  transition: opacity 1s ease 0.5s;
  overflow: hidden;

  @include sm {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    height: calc(var(--vh) - 40px);
  }

  &.is-loaded {
    opacity: 1;
  }

  &__inner {
    position: relative;
    height: 100%;

    @include sm {
      height: calc(var(--vh) - 80px);
    }
  }

  &__bg {
    position: absolute;
    top: 22%;
    left: 15%;
    z-index: -1;
    width: 80vw;
    height: 54vh;
    // background-repeat: no-repeat;
    background-position: center;
    transform: rotate(11deg);
    @include sm {
      left: -50vw;
      width: 200vw;
    }
  }

  &__back {
    position: absolute;
    left: $gap_padding;
    top: 24px;
    z-index: 99;

    @include sm {
      top: -40px;
      left: 0;
    }
  }

  &__next {
    position: absolute;
    left: $gap_padding;
    bottom: 27px;
    cursor: pointer;
    z-index: 10;
    animation: bounce 3s ease infinite;

    // @include xl {
    //   left: 100px;
    // }

    @include sm {
      bottom: 50px;
      left: 10px;
    }
  }

  &__main-title {
    span {
      display: block;
      position: absolute;
      @include ff-medium;
      font-size: 60px;
      line-height: 72px;
      color: #2b2e34;
      text-transform: uppercase;

      @include xl {
        font-size: 50px;
        line-height: 1.4;
      }

      @include md {
        font-size: 40px;
      }

      @include sm {
        font-size: 36px;
      }

      @include xs {
        font-size: 30px;
      }
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 70vw;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #272823;
    text-transform: uppercase;

    @include xl {
      font-size: 50px;
      line-height: 1.4;
    }

    div {
      opacity: 0;
      transform: translateY(100px);
    }
  }

  &__testimonials-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;

    span {
      display: block;
      position: absolute;
      @include ff-medium;
      font-size: 60px;
      line-height: 72px;
      color: #2b2e34;
      text-transform: uppercase;

      @include xl {
        font-size: 50px;
        line-height: 1.4;
      }

      @include md {
        font-size: 40px;
      }

      @include sm {
        font-size: 36px;
      }

      @include xs {
        font-size: 30px;
      }

      @include smUp {
        &:first-child {
          left: 10%;
          top: 10%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.clients-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;

  display: flex;
  justify-content: center;
  height: 95vh;
  width: 100%;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @include xl {
    max-width: none;
  }

  @include md {
    height: 70%;
    display: block;
    margin-top: 120px;
  }

  @include sm {
    margin-top: 120px;
  }

  &__inner {
    margin: auto;

    @include sm {
      padding: 0;
    }
  }

  &__boxes {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    min-height: 25rem;
    overflow: hidden;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 350px;
    width: 100%;
    padding: 20px;

    @include xl {
      margin-bottom: 1.5rem;
    }

    @include md {
      margin-right: 0;
      margin-bottom: 40px;
    }

    @include sm {
      margin-bottom: 28px;
    }
  }

  &__logo {
    height: 44px;
    margin-bottom: 1.2rem;
    img {
      height: 100%;
    }
  }

  &__text {
    max-width: 440px;
    font-size: 20px;
    line-height: 24px;
    color: #272822;

    @include sm {
      max-width: none;
      padding-top: 4px;
      font-size: 16px;
      line-height: 1.2;
      border-top: 1px solid #272822;
    }
  }
}

.testimonials-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;

  display: flex;
  justify-content: center;
  height: 100%;
  margin: auto;
  width: calc(100 / 1920 * 1200%);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @include xl {
    display: block;
    margin-bottom: 200px;
    height: 60%;
    margin-top: 120px;
  }

  @include sm {
    margin-top: 15vh;
  }

  @include xs {
    width: 100%;
  }

  &__inner {
    width: 100%;
    margin: auto;
    padding: 40px 0;

    @include sm {
      padding: 0;
    }
  }

  &__note {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 1.2;
    color: #272823;
    opacity: 0;

    @include sm {
      margin-bottom: 11px;
      font-size: 32px;
    }

    @include xs {
      font-size: 24px;
    }
  }

  &__title {
    position: relative;
    font-size: 20px;
    line-height: 1.2;
    color: #272822;
    opacity: 0;

    @include md {
      font-size: 18px;
    }

    @include xs {
      font-size: 16px;
    }
  }
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-40%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-14%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0);
  }
}
