@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.clients-page {
  height: calc(var(--vh) - 65px);
  opacity: 0;
  padding-left: $nav_link_width * 3;
  transition: opacity 1s ease 0.5s;
  overflow: hidden;

  @include sm {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    height: calc(var(--vh) - 40px);
  }

  &.is-loaded {
    opacity: 1;
  }

  &__inner {
    position: relative;
    height: 100%;

    @include sm {
      height: calc(var(--vh) - 80px);
    }
  }

  &__menugroup {
    position: absolute;
    width: 100%;
    margin-left: -20px;
    display: none;

    @include sm {
      display: block;
    }
  }

  &__optiongroup {
    position: absolute;
    width: 100%;
    z-index: 100000;
    text-transform: capitalize;
  }

  &__selectedMenu {
    text-transform: capitalize;
    position: absolute;
    display: none;
    background-color: $clients;
    width: 100%;
    padding: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

    @include sm {
      display: flex;
    }
  }

  &__optionMenu {
    text-transform: capitalize;
    display: none;
    // background-color: $primary;
    width: 100%;
    padding: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

    &--about {
      background-color: $primary;
    }

    &--client {
      background-color: $clients;
    }

    &--services {
      background-color: $services;
    }

    @include sm {
      display: flex;
    }
  }

  &__bg {
    position: absolute;
    top: 22%;
    left: 15%;
    z-index: -1;
    width: 80vw;
    height: 54vh;
    // background-repeat: no-repeat;
    background-position: center;
    transform: rotate(11deg);

    @include sm {
      left: -21vw;
      width: 140%;
      height: 28%;
      top: 37vh;
      transform: rotate(51deg) !important;
    }
  }

  &__back {
    position: absolute;
    left: $gap_padding;
    top: 24px;
    z-index: 99;

    @include sm {
      top: -40px;
      left: 0;
    }
  }

  &__next-slider {
    position: absolute;
    top: 7vh;
    right: 1vw;
    cursor: pointer;
    z-index: 99;
    display: none;

    @include sm {
      display: block;
    }
  }

  &__next {
    position: absolute;
    left: $gap_padding;
    bottom: 27px;
    cursor: pointer;
    z-index: 10;
    animation: bounce 3s ease infinite;
    width: 26px;
    height: 30px;

    // @include xl {
    //   left: 100px;
    // }

    @include sm {
      bottom: 6.8vh;
      left: 10px;
      width: 23px;
      height: 26px;
    }
  }

  &__main-title {
    span {
      display: block;
      position: absolute;
      @include ff-medium;
      font-size: 60px;
      line-height: 72px;
      color: #2b2e34;
      text-transform: uppercase;

      @include xl {
        font-size: 50px;
        line-height: 1.4;
      }

      @include md {
        font-size: 40px;
      }

      @include sm {
        font-size: 36px;
      }

      @include xs {
        font-size: 30px;
      }
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 70vw;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #272823;
    text-transform: uppercase;

    @include xl {
      font-size: 50px;
      line-height: 1.4;
    }

    div {
      opacity: 0;
      transform: translateY(100px);
    }
  }

  &__testimonials-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;

    span {
      display: block;
      position: absolute;
      @include ff-medium;
      font-size: 60px;
      line-height: 72px;
      color: #2b2e34;
      text-transform: uppercase;

      @include xl {
        font-size: 50px;
        line-height: 1.4;
      }

      @include md {
        font-size: 40px;
      }

      @include sm {
        font-size: 36px;
      }

      @include xs {
        font-size: 30px;
      }

      @include smUp {
        &:first-child {
          left: 10%;
          top: 10%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.clients-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;

  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__mobile_box {
    display: none;

    @include sm {
      display: block;
    }
  }

  &__desktop_box {
    display: flex;

    @include sm {
      display: none;
    }
  }

  @include xl {
    max-width: none;
  }

  @include md {
    height: 100%;
    // display: block;
    // margin-top: 120px;
  }

  @include sm {
    // margin-top: 120px;
  }

  &__inner {
    margin: auto;
    padding: 35px;

    @include sm {
      text-align: -webkit-center;
      padding: 0;
    }
  }

  &__boxes {


    &--desktop {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      min-height: 25rem;
      overflow: hidden;

      @include sm {
        grid-template-columns: 50% 50%;
      }
    }

    &--mobile {
      @include sm {
        display: flex;
        flex-direction: column;
        display: none;
      }

      display: none;
    }


  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 350px;
    width: 100%;
    padding: 20px;

    @include xl {
      margin-bottom: 1.5rem;
    }

    @include md {
      margin-right: 0;
      margin-bottom: 40px;
    }

    @include sm {
      margin-bottom: 0;
    }
  }

  &__logo {
    height: 44px;
    margin-bottom: 1.2rem;

    img {
      height: 100%;

      @include sm {
        // height: 60px;
        object-fit: contain;

      }
    }

    @include sm {}
  }

  &__text {
    max-width: 440px;
    font-size: 20px;
    line-height: 24px;
    color: #272822;

    @include sm {
      max-width: none;
      padding-top: 4px;
      font-size: 14px;
      line-height: 1.2;
      border-top: 1px solid #272822;
      display: none;
    }
  }
}

.testimonials-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;

  display: flex;
  justify-content: center;
  height: 100%;
  margin: auto;
  width: calc(100 / 1920 * 1200%);

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @include xs {
    width: 100%;
  }

  &__inner {
    width: 100%;
    margin: auto;
    padding: 40px 0;

    @include sm {
      padding: 0;
    }
  }

  &__note {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 1.2;
    color: #272823;
    opacity: 0;

    @include sm {
      margin-bottom: 11px;
      font-size: 32px;
    }

    @include xs {
      font-size: 24px;
    }
  }

  &__title {
    position: relative;
    font-size: 20px;
    line-height: 1.2;
    color: #272822;
    opacity: 0;

    @include md {
      font-size: 18px;
    }

    @include xs {
      font-size: 16px;
    }
  }
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-40%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-14%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-6%);
  }

  100% {
    transform: translateY(0);
  }
}