@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 1s ease 0.5s;

  &.is-loaded {
    opacity: 1;
  }

  &__hero {
    padding: 0 20px;
  }

  &__anim-logo {
    padding-top: 100px;
    padding-bottom: 90px;

    @include sm {
      padding-top: 30px;
      padding-bottom: 22px;
    }
  }

  &__title {
    max-width: 930px;
    margin: 0 auto 62px;
    @include ff-bold;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: $text;

    @include sm {
      font-size: 30px;
    }

    @include xs {
      margin-bottom: 19px;
      font-size: 22px;
      line-height: 1.182;
    }
  }

  &__subtitle {
    max-width: 1065px;
    margin: 0 auto 64px;
    @include ff-medium;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    color: #272822;

    @include sm {
      margin-bottom: 33px;
      font-size: 20px;
    }

    @include xs {
      font-size: 14px;
      line-height: 1.214;
    }
  }

  &__contact-wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto 96px;

    @include sm {
      margin-bottom: 50px;
    }

    @include xs {
      margin-bottom: 39px;
    }

    &.is-bottom {
      margin-bottom: 42px;
      @include xs {
        margin-bottom: 0;
      }
    }
  }

  &__contact {
    padding: 20px 133px;
    background: #272822;
    border-radius: 46px;
    @include ff-medium;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #D1FF80;
    text-decoration: none;

    @include glass-hover-animation(#fff, #fff);

    @include sm {
      padding: 12px 70px 14px;
      font-size: 16px;
    }

    @include xs {
      padding: 9px 54px 10px;
      font-size: 12px;
    }
  }

  &__investors {
    margin-bottom: 97px;

    @include sm {
      margin-bottom: 45px;
    }
  }

  &__team {
    margin-bottom: 110px;

    @include sm {
      margin-bottom: 45px;
    }
  }

  &__services {
    width: 100%;
    max-width: 1244px;
    padding: 0 20px;
    margin: 0 auto 110px;

    @include sm {
      margin-bottom: 45px;
    }
  }

  &__processes {
    width: 100%;
    max-width: 1244px;
    padding: 0 20px;
    margin: 0 auto 110px;

    @include sm {
      margin-bottom: 45px;
    }
  }

  &__clients {
    width: 100%;
    max-width: 1244px;
    padding: 0 20px;
    margin: 0 auto 110px;

    @include sm {
      margin-bottom: 45px;
    }
  }

  &__testimonials {
    width: 100%;
    margin: 0 auto 76px;

    @include sm {
      margin-bottom: 45px;
    }
  }
}
