@import "assets/styles/variables/index";
@import "assets/styles/helpers/index";

.home-page {

  opacity: 0;
  //padding-left: $nav_link_width + $gap_padding;
  //padding-right: $nav_link_width * 2 + $gap_padding;
  transition: opacity 1s ease 0.5s;

  &.is-loaded {
    opacity: 1;
  }
}

.anim-head {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110px;
  margin-top: 34px;
  padding: 0 1.8vw;

  &.is-loaded {
    .anim-head__dummy {
      flex-grow: 1;
    }

    .anim-head__path {
      opacity: 0;
    }
  }

  &__dummy {
    transition: all 1.5s ease 1s;
  }

  &__text {
    height: 100%;
    transition: transform 1s ease 1s;

    img {
      height: 100%;
    }
  }

  &__path {
    height: 100%;
    margin-left: 140px;
    transition: all 0.5s ease 2.5s;
    pointer-events: none;

    svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }
}
