@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 135px;
  opacity: 0;
  transition: opacity 1s ease 0.5s;

  &.is-loaded {
    opacity: 1;
  }

  &__title {
    max-width: 930px;
    margin: 0 auto 62px;
    @include ff-bold;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #272822;
  }

  &__subtitle {
    max-width: 1065px;
    margin: 0 auto 98px;
    @include ff-medium;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    color: #272822;
  }

  &__contact {
    margin: 0 auto 96px;
    padding: 20px 133px;
    background: #272822;
    border-radius: 46px;
    @include ff-medium;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #D1FF80;
    text-decoration: none;

    @include glass-hover-animation(#fff, #fff);
  }

  &__investors {
    margin-bottom: 97px;
  }

  &__team {
    margin-bottom: 110px;
  }

  &__services {
    width: 100%;
    max-width: 1244px;
    padding: 0 20px;
    margin: 0 auto 110px;
  }

  &__processes {
    width: 100%;
    max-width: 1244px;
    padding: 0 20px;
    margin: 0 auto 110px;
  }
}

.anim-head {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110px;
  margin-bottom: 138px;

  @include sm {
    padding: 0;
    height: auto;
  }

  &__text {
    height: 100%;
    transition: transform 1s ease 1s;

    img {
      height: 100%;

      @include sm {
        width: 100%;
        height: auto;
      }
    }
  }

  &__path {
    height: 100%;
    margin-left: 47px;
    transition: all 0.5s ease 2.5s;
    pointer-events: none;

    @include sm {
      display: none;
    }

    svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }
}
