@import "assets/styles/variables/index";
@import "assets/styles/helpers/index";

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 134px;
  padding-left: 68px;
  opacity: 0;
  //padding-left: $nav_link_width + $gap_padding;
  //padding-right: $nav_link_width * 2 + $gap_padding;
  transition: opacity 1s ease 0.5s;

  @include lg {
    padding-left: 30px;
  }

  @include md {
    padding-left: 20px;
  }

  @include sm {
    padding-bottom: 47px;
  }

  &.is-loaded {
    opacity: 1;
  }

  &__notes {
    max-width: 1285px;
    margin-bottom: 41px;
    padding-right: $nav_link_width * 3 + $gap_padding;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #272822;

    @include r(1600) {
      font-size: 36px;
    }

    @include lg {
      font-size: 30px;
      line-height: 1.3;
    }

    @include md {
      font-size: 26px;
    }

    @include sm {
      font-size: 24px;
    }

    p {
      @include sm {
        margin-bottom: 24px;
      }
    }

    a {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #272822;
      text-decoration: none;
    }
  }
}

.anim-head {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 144px;
  padding: 43px 1.8vw 0;

  &.is-loaded {
    .anim-head__dummy {
      flex-grow: 1;
    }

    .anim-head__path {
      opacity: 0;
    }
  }

  &__dummy {
    transition: all 1.5s ease 1s;
  }

  &__text {
    height: 100%;
    transition: transform 1s ease 1s;

    img {
      height: 100%;
    }
  }

  &__path {
    height: 100%;
    margin-left: 140px;
    transition: all 0.5s ease 2.5s;
    pointer-events: none;

    svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }
}
