@import "assets/styles/variables/index";
@import "assets/styles/helpers/index";

.anim-head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110px;
  margin-top: 34px;
  padding: 0 1.8vw;

  &.is-loaded {
    .anim-head__dummy {
      flex-grow: 1;
    }

    .anim-head__path {
      opacity: 0;
    }
  }

  &__dummy {
    transition: all 1.7s ease;
  }

  &__text {
    height: 100%;
    transition: transform 1s ease;

    img {
      height: 100%;
    }
  }

  &__path {
    height: 100%;
    margin-left: 140px;
    transition: all 0.5s ease 1.7s;
    pointer-events: none;

    svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }
}
