@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.services-page {
  height: calc(var(--vh) - 65px);
  opacity: 0;
  padding-left: $nav_link_width * 2 + $gap_padding;
  padding-right: $nav_link_width + $gap_padding;
  transition: opacity 1s ease 0.5s;
  overflow: hidden;


  @include sm {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    height: calc(var(--vh) - 40px);
  }

  &.is-loaded {
    opacity: 1;
  }

  &__inner {
    position: relative;
    height: 100%;

    @include sm {
      height: calc(var(--vh) - 80px);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 13%;
    z-index: -1;
    height: var(--vh);
    width: 76vw;
    // background-repeat: no-repeat;
    background-position: center;

    @include xl {
      left: 14%;
    }

    @include md {
      left: 15.3%;
    }

    @include sm {
      left: 0vw;
      width: 100%;
      height: 61%;
      top: 21vh;
      transform: rotate(15deg) !important;
    }
  }

  &__back {
    position: absolute;
    left: $gap_padding;
    top: 24px;
    z-index: 99;

    @include sm {
      top: 40px;
      left: 0;
    }
  }


  &__menugroup {
    position: absolute;
    width: 100%;
    margin-left: -20px;
    margin-top: 20px;
    display: none;

    @include sm {
      display: block;
    }
  }

  &__optiongroup {
    position: absolute;
    width: 100%;
    z-index: 100000;
    text-transform: capitalize;

  }

  &__selectedMenu {
    text-transform: capitalize;
    position: absolute;
    display: none;
    background-color: $services;
    width: 100%;
    padding: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

    @include sm {
      display: flex;
    }
  }

  &__optionMenu {
    text-transform: capitalize;
    display: none;
    // background-color: $primary;
    width: 100%;
    padding: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

    &--about {
      background-color: $primary;
    }

    &--client {
      background-color: $clients;
    }

    &--services {
      background-color: $services;
    }

    @include sm {
      display: flex;
    }
  }
  &__group-slider{
    display: flex;
    align-items: center;
    width: 287px;
  }

  &__next-slider {
    // position: absolute;
    // top: 9vh;
    // right: 1vw;
    cursor: pointer;
    z-index: 99999;
    display: none;

    @include sm {
      display: block;
    }
  }

  &__next {
    position: absolute;
    left: $gap_padding;
    bottom: 27px;
    cursor: pointer;
    z-index: 10;
    animation: bounce 3s ease infinite;
    width: 26px;
    height: 30px;

    @include sm {
      width: 23px;
      height: 24px;
      bottom: 4.5vh;
      left: 10px;
    }
  }

  &__main-title {
    span {
      display: block;
      position: absolute;
      @include ff-medium;
      font-size: 60px;
      line-height: 72px;
      color: #2b2e34;
      text-transform: uppercase;

      @include xl {
        font-size: 50px;
        line-height: 1.4;
      }

      @include md {
        font-size: 40px;
      }

      @include sm {
        font-size: 36px;
      }

      @include xs {
        font-size: 30px;
      }
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 70vw;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #272823;
    text-transform: uppercase;

    @include xl {
      font-size: 50px;
      line-height: 1.4;
    }

    div {
      opacity: 0;
      transform: translateY(100px);
    }
  }

  &__process-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;

    span {
      display: block;
      position: absolute;
      @include ff-medium;
      font-size: 60px;
      line-height: 72px;
      color: #2b2e34;
      text-transform: uppercase;

      @include xl {
        font-size: 50px;
        line-height: 1.4;
      }

      @include md {
        font-size: 40px;
        margin-left: 30px;
      }

      @include sm {
        font-size: 36px;
        margin-top: 0;
        margin-left: 10px;
      }

      @include xs {
        margin-top: 10px;
        font-size: 30px;
      }

      @include smUp {
        &:first-child {
          left: 10%;
          top: 10%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}


.benefits-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;

  display: flex;
  justify-content: center;
  height: 95vh;
  width: 100%;
  margin: auto;
  max-width: calc(100 / 1440 * 1200%);

  // @include sm {
  //   display: none;
  // }

  &--desktop {
    display: block;

    @include sm {
      display: none;
    }
  }

  &--mobile {
    @include sm {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
    }

    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @include sm {
    height: 100%;
  }

  &__inner {
    margin: auto;

    @include sm {
      padding: 0;
      margin: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;
    // height: 128px;
    // @include md {
    //   display: block;
    // }

    @include sm {
      flex-direction: column;
      margin-bottom: 14px;
      margin-top: 30px;
    }

    &+& {
      margin-top: 32px;

      @include xs {
        margin-top: 12px;
      }
    }
  }

  &__col {
    width: 50%;

    @include xl {
      width: 100%;
      max-width: 70vw;
    }

    &:nth-child(2) {
      margin-left: 16px;

      @include sm {
        margin-left: 0;
      }
    }
  }

  &__title {
    font-size: 2.5rem;
    // line-height: 1.2;
    color: #272822;

    @include xl {
      font-size: 100vw * 36 / 1680;
    }

    @include sm {
      margin-bottom: 8px;
      font-size: 24px;
    }

    @include xs {
      font-size: 22px;
      margin-bottom: 5px;
    }
  }

  &__text {
    max-width: 690px;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #272822;

    @include md {
      font-size: 100vw * 22 / 1680;
    }

    @include sm {
      font-size: 14px;
    }

    @include xs {
      font-size: 12px;
    }
  }
}

.benefits-section-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: none;

  @include sm {
    display: flex;
  }

  justify-content: center;
  height: 95vh;
  width: 100%;
  margin: auto;
  max-width: calc(100 / 1440 * 1200%);

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__inner {
    margin: auto;

    @include sm {
      padding: 0;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;
    // height: 128px;
    // @include md {
    //   display: block;
    // }

    @include sm {
      flex-direction: column;
      margin-top: 25px;
    }

    &+& {
      margin-top: 32px;

      @include xs {
        margin-top: 30px;
      }
    }
  }

  &__col {
    width: 50%;

    @include xl {
      width: 100%;
      max-width: 70vw;
    }

    &:nth-child(2) {
      margin-left: 16px;

      @include sm {
        margin-left: 0;
      }
    }
  }

  &__title {
    font-size: 2.5rem;
    // line-height: 1.2;
    color: #272822;

    @include xl {
      font-size: 100vw * 36 / 1680;
    }

    @include sm {
      margin-bottom: 8px;
      font-size: 24px;
    }

    @include xs {
      font-size: 1.2rem;
    }
  }

  &__text {
    max-width: 690px;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #272822;

    @include md {
      font-size: 100vw * 22 / 1680;
    }

    @include sm {
      font-size: 14px;
    }
  }
}

.process-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;

  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  margin: auto;

  width: 78%;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @include sm {
    width: 100%;
  }

  &__inner {
    width: 100%;
    margin: auto;

    @include sm {
      padding: 0;
    }
  }

  &__block {
    max-width: 690px;

    @include sm {
      max-width: 50vw;
    }

    &+& {
      margin-top: 50px;

      @include xs {
        margin-top: 30px;
      }
    }

    &:nth-child(even) {
      margin-left: auto;

    }

    &:nth-child(3) {
      margin-left: 8rem;

      @include xl {
        margin-left: 6rem;
      }

      @include lg {
        margin-left: 4rem;
      }

      @include sm {
        margin-left: 8rem;
      }

      @include xs {
        margin-left: 4rem;
      }
    }
  }

  &__note {
    margin-bottom: 17px;
    @include ff-medium;
    font-size: 20px;
    line-height: 1.2;
    color: #272822;
    opacity: 0;

    span {
      margin-left: 60px;
    }

    @include sm {
      display: none;
    }
  }

  &__title {
    position: relative;
    font-size: 2.25rem;
    line-height: 1.2;
    color: #272822;
    opacity: 0;

    @include lg {
      font-size: 2rem;
    }

    @include sm {
      padding-left: 30px;
    }

    @include xs {
      font-size: 16px;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;

      @include smUp {
        display: none;
      }
    }
  }
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-40%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-14%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-6%);
  }

  100% {
    transform: translateY(0);
  }
}