@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.testimonials {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1700px;
    height: 154px;
    background-color: $clients;
    transform: translate(-50%, -50%) rotate(-10deg);
    opacity: 0.5;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    max-width: calc(1066px + 76px);
    padding: 0 38px;
    margin: 0 auto;
    cursor: grab;
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;

    @include xs {
      margin-bottom: 29px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    will-change: transform;
    margin-left: -38px;

    @include xs {
      margin-left: -69px;
    }
  }

  &__slide {
    position: relative;
    flex: 0 0 auto;
    max-width: 368px;
    width: 100%;
    padding-left: 38px;

    @include xs {
      max-width: 291px;
      padding-left: 69px;
    }
  }

  &__slide-inner {
    height: 100%;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    z-index: 9;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    @include lg {
      display: none;
    }
  }

  &__prev {
    left: 0;
    @include lg {
      left: 20px;
    }
  }

  &__next {
    right: 0;
    @include lg {
      right: 20px;
    }
  }

  &__progress {
    position: relative;
    background-color: #ffffff;
    margin-top: 30px;
    max-width: 270px;
    width: calc(100% - 40px);
    height: 4px;
    overflow: hidden;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;

    @include lgUp {
      display: none;
    }

    @include xs {
      max-width: 160px;
    }
  }

  &__progress-bar {
    position: absolute;
    background-color: #272822;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
  }
}
