@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  padding: 10px 32px;
  background-color: #272822;
  @include sm {
    height: 40px;
    padding: 15px 17px;
    z-index: 999;
  }
  &__logo {
    cursor: pointer;
    @include sm {
      display: none;
    }
  }
  &__col {
    display: flex;
    width: 200px;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #f4f5f4;
    @include xs {
      font-size: 14px;
      line-height: 1.4;
    }

    &--left{
      text-align: right;
    }

    // &:nth-child(1) {
    //   @include sm {
    //     flex-direction: row;
    //     justify-content: space-between;
    //     width: 100%;
    //   }
    // }

    &:nth-child(2) {
      text-align: right;

      @include sm {
        display: none;
      }
    }
    
    a {
      color: inherit;
      text-decoration: none;
      transition: all 0.25s ease;

      &:hover {
        color: $primary;
      }
    }
  }
}
