@import "assets/styles/variables/index";
@import "assets/styles/helpers/index";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  padding: 28px 32px;
  background-color: #272822;
  @include sm {
    height: 47px;
    padding: 15px 17px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #f4f5f4;
    @include xs {
      font-size: 14px;
      line-height: 1.4;
    }

    &:nth-child(1) {
      @include sm {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }

    &:nth-child(2) {
      text-align: right;

      @include sm {
        display: none;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      transition: all 0.25s ease;

      &:hover {
        color: $primary;
      }
    }
  }
}
