@import 'assets/styles/variables/index';
@import 'assets/styles/helpers/index';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  padding: 10px 32px;
  margin-bottom: -1px;
  background-color: #272822;

  @include sm {
    padding: 15px 17px;
    z-index: 999;
  }

  @include xs {

    display: block;
    height: auto;
    padding: 26px 20px 38px;
  }

  &__logo {
    cursor: pointer;
    @include sm {
      display: none;
    }
  }

  &__col {
    display: flex;
    width: 200px;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #f4f5f4;

    @include xs {
      width: auto;
      font-size: 14px;
      line-height: 1.2;
    }

    &:last-child {
      @include xs {
        margin-top: 36px;
      }
    }

    &--left {
      text-align: right;
    }

    &:nth-child(2) {
      text-align: right;

      @include sm {
        display: none;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      transition: all 0.25s ease;

      &:hover {
        color: $primary;
      }
    }
  }
}
